.payment_schedule {
    width: 100%;
    padding: 16px;
    background: #f3f4f5;
    border-radius: 4px;
}

.payment_schedule_title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #172a3f;
    margin-bottom: 12px;

    display: flex;
    align-items: center;
}

.tooltip_icon {
    margin-left: 11px;
}

.prepayment {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #00a755;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 18px;
}

.progress_list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #b5bbc2;
    margin-bottom: 16px;
}

.progress_item {
    position: relative;
    width: 25%;
    padding: 24px 0;
}

.progress_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #9fce96;
}

.progress_item:first-child::before {
    background-color: rgba(13, 186, 38, 0.95);
    border-color: rgba(13, 186, 38, 0.95);
}

.progress_item::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 16px;
    width: calc(100% - 16px);
    height: 1px;
    background-color: #b5bbc2;
}

.date {
    font-size: 13px;
    line-height: 18px;
    color: #6d7986;
    margin: 0;
    margin-bottom: 8px;
}

.payment {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #172a3f;
}

.sum_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sum_wrapper span:first-child {
    font-size: 16px;
    line-height: 22px;
    color: #6d7986;
}

.sum_wrapper span:last-child {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #5fae50;
}
